.app__navbar {
  width: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 2vh 2rem;
  background: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(22px);
  -webkit-backdrop-filter: blur(22px);
  z-index: 99;
  position: fixed;

  @media screen and (max-width: 500px) {
    justify-content: flex-end;
    padding: 1.2vh 1rem;
    background: transparent;
    backdrop-filter: none;
    -webkit-backdrop-filter: none;
  }
}

.app__navbar-links {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style-type: none;
  flex: 1;

  gap: 1.2rem;

  li {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    a {
      color: var(--grey-color);
      text-decoration: none;
      text-transform: uppercase;
      font-weight: 500;
      transition: all 0.3s ease-in-out;

      &:hover {
        color: var(--secondary-color);
      }
    }

    &:hover {
      div {
        background-color: var(--secondary-color);
      }
    }
  }
  @media screen and (max-width: 500px) {
    display: none;
  }
}

.app__navbar-menu {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  position: relative;
  background-color: var(--secondary-color);

  box-shadow: 5px 5px 20px #000000b0;

  display: flex;
  align-items: center;
  justify-content: center;

  & svg {
    fill: white;
    scale: 2;
  }

  .app__navbar-list {
    position: fixed;
    top: 0;
    right: -102%;
    padding: 1rem;

    width: 80vw;
    height: 100vh;

    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: column;

    background-image: url(../../assets/bgWhite.png);
    background-color: var(--primary-color);
    background-size: cover;
    background-repeat: repeat;
    box-shadow: 0 0 20px rgba(168, 168, 168, 0.15);
    transition: 0.4s ease-out;

    &.active {
      right: 0;
    }

    & > svg {
      fill: #313bac;
      width: 20px;
      height: 20px;
    }

    ul {
      list-style: none;
      margin: 0;
      padding: 0;

      height: 100%;
      width: 100%;

      display: flex;
      align-items: flex-start;
      justify-content: flex-start;
      flex-direction: column;

      li {
        margin: 1rem;

        a {
          color: var(--grey-color);
          text-decoration: none;
          text-transform: uppercase;
          font-weight: 500;

          transition: all 0.3s ease-in-out;
          &:hover {
            color: var(--secondary-color);
          }
        }
      }
    }
  }
  @media screen and (min-width: 500px) {
    display: none;
  }
}
